body {
            font-family:'Oswald', 'Source+Sans+Pro', serif;
        }

#navbar ul {
                margin: 0;
                padding: 30px;
                list-style-type: none;
                text-align: center;
                background-color: #84107E;
            }
            #navbar ul li {
                display: inline;
            }
            #navbar ul li a {
                text-decoration: none;
                padding: .8em 3em;
                color: Black;
                background-color: #4F4F4F;
            }
            #navbar ul li a:hover {
                color: #84107E;
                background-color: #8C8C8C;
            }
#body {
            background-color: white;
}
#navtext {
            text-size: 17px;
}
#top {
            background-color: transparent;
            top: auto;
            width: 80%;
            heigth: 5px;
}
#bottom {
            background-color: #e6e9e9; 
            position: fixed; 
            bottom: 0%; 
            heigth: 40px; 
            width: 100%; 
            padding: 10px;
}
#bottomtext {
            text-size: 15px;
}
#bottomtextname {
            "text-size: 13px;
}
