body {
            font-family:'Oswald', 'Source+Sans+Pro', serif;
        }

#navbar ul {
                margin: 0;
                padding: 30px;
                list-style-type: none;
                text-align: center;
                background-color: #84107E;
            }
            #navbar ul li {
                display: inline;
            }
            #navbar ul li a {
                text-decoration: none;
                padding: .8em 3em;
                color: Black;
                background-color: #4F4F4F;
            }
            #navbar ul li a:hover {
                color: #84107E;
                background-color: Black;
            }
#body {
            background-color: 4F4F4F;
}
