body {
            font-family:'Oswald', 'Source+Sans+Pro', serif;
        }

#body {
            background-color: white;
            width: 80%;
}
#top {
            background-color: transparent;
            top: auto;
            width: 80%;
            heigth: 5px;
}
#bottom {
            background-color: #e6e9e9; 
            position: fixed; 
            bottom: 0%; 
            heigth: 40px; 
            width: 100%; 
            padding: 10px;
}
#bottomtext {
            text-size: 15px;
}
#bottomtextname {
            text-size: 13px;
}
#logo {
            position: relative; 
            left: -8.3%;
}
